
@{
    ViewData["Title"] = "管理員功能選單";
}


<div class="p-3 mb-2"><h2 class="text-center font-weight-bold bgmainbar">管理員功能選單</h2></div>
<div class="container-fluid px-4">
  

    <fieldset>
        <legend class="h3 text-center bgbar">食譜網</legend>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/MemberManagement/Index" class="h4 font-weight-bold">會員管理</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-id-card" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/Recipe/Index" class="h4 font-weight-bold">食譜管理</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/ShowingPics/Index" class="h4 font-weight-bold">輪播牆</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-th-large" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/PhotoWall/listbycategory" class="h4 font-weight-bold">美食牆</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="far fa-images" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/memberfeedback/Index" class="h4 font-weight-bold">問題反應</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/accusation/Index" class="h4 font-weight-bold">檢舉文章列表</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-astronaut" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/HashTag/Index" class="h4 font-weight-bold">HashTag管理</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fab fa-slack-hash" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </fieldset>
</div>


<div class="container-fluid px-4">
    @*<h1 class="mt-4">管理員</h1>*@

    <fieldset>
        <legend class="h3 text-center bgbar">商城網</legend>
        <div class="row">



            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/BusinessWebsite/index" class="h4 font-weight-bold">商城一覽圖</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-shopping-basket" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/Ingredient/SessionDemoSend" class="h4 font-weight-bold">商品明細</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-apple-alt" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/Order/index" class="h4 font-weight-bold">訂單明細</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-paste" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*<div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/ShipperExport/Index" class="h4 font-weight-bold">訂單匯出</a>
                                </div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-file-export text-gray-400" width="100%" height="40" style="font-size:30px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </fieldset>
</div>


@section Scripts{

}
