@model Management.Models.Tadmin

@{
    ViewData["Title"] = "Signup";
}

<h1>新增管理員</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Signup" name="registerinfo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">管理員名稱</label>
                <input name="AdminName" class="form-control" />
                <span asp-validation-for="AdminName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">管理員帳號</label>
                <input name="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">管理員密碼</label>
                <input name="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AdminAuthority"  name="AdminAuthority" />最高權限設定
                </label>
            </div>
            <div class="form-group">
                <input type="button" id="register" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.getElementById("register").addEventListener('click', function ()
        {
            var formdata = new FormData(document.registerinfo);
            console.log(formdata)
            fetch("/Home/Signup", { method: 'Post', body: formdata }).
                then(response => { return response.text() }
            ).then(data => {
                console.log(data)
                if (data == "新增帳號成功") {
                    alert('新增帳號成功')
                    window.location.href = "/home/index"
                }
                else
                {
                    alert(data)
                }
            }).catch(error => { alert(error) })
        })
    </script>
}
