@using Microsoft.AspNetCore.Http
@using prjDelicious.ViewModel
@model prjDelicious.ViewModel.CChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}
@section Style{
    <link href="/assets/css/setting.css" rel="stylesheet">
}
<section class="align-items-center" style="height:65% ;margin-top:20px;";>
    <div class="container" id="userinfo">
        <div class="row">
            <div class="col-md-4">
                <div class="single category">
                    <h2 class="side-title">會員設定</h2>
                    <ul class="list-unstyled">
                        <li id="li-1"><a href="/UserPage/Setting?id=@Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID)" title="">編輯個人檔案</a></li>
                        @if (!Model.FirstSetPassword)
                        {
                            <li id="li-2"><a href="/UserPage/ChangePassword?id=@Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID)" title="">更改密碼</a></li>
                        }
                        else
                        {
                            <li id="li-2"><a href="/UserPage/ChangePassword?id=@Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID)" title="">設定新密碼</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-4" style="margin-top:20px">
                <form asp-action="ChangePassword" method="post" name="formdata">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="MemberId" class="control-label"></label>
                        <input asp-for="MemberId" class="form-control" />
                        <span asp-validation-for="MemberId" class="text-danger" id="error"></span>
                    </div>
                    @if (!Model.FirstSetPassword)//如果不是三方登入,而且設定過密碼
                    {<div class="form-group">
                        <label asp-for="password" class="control-label"></label>
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    }
                    <div class="form-group">
                        <label asp-for="newPassword" class="control-label"></label>
                        <input type="password" asp-for="newPassword" class="form-control" />
                        <span asp-validation-for="newPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="newPassword2" class="control-label"></label>
                        <input type="password" asp-for="newPassword2" class="form-control" />
                        <span asp-validation-for="newPassword2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary send" id="send" />
                    </div>
                    <div>
                        <small><a href="/UserPage/ForgetPassword?id=@Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID)">忘記密碼?</a></small>
                    </div>
                </form>
                <div class="loadingdiv" id="loading" style="display: none">
                    <img src="/assets/img/loading.gif" />
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        window.onload = function () {
            $(".send").click(function (evt) {
                let hasnull = false;
                $("form .form-control").each(function () {  //遍历input标签，判断是否有内容未填写
                    if ($(this).val() == "") {
                        hasnull = true;
                    }
                })
                $("form .text-danger").each(function () {  //遍历input标签，判断是否有内容未填写
                    if ($(this).text() != "") {
                        hasnull = true;
                    }
                })
                console.log(hasnull)
                if (hasnull == false) {
                    evt.preventDefault();
                    const data = new FormData(document.formdata)
                    $.ajax({
                        beforeSend: function () {
                            $('#loading').css("display", "");
                        },
                        url: '/UserPage/ChangePassword',
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: "post",
                        data: data,
                        success: function (data) {
                            if (data =="修改密碼成功") {
                                $("#send").attr('disabled', true);
                                alert(data);
                                window.location.href = "/homepage/login"
                            }
                            else if(data == "舊密碼錯誤"){
                                alert(data);
                            }
                        },
                        complete: function () {
                            $('#loading').css("display", "none");
                        },
                        error: function (data) {
                            alert(data);
                        }
                    })
                }
            })
        }
    </script>
}
