@model prjDelicious.Models.Tmember
@using prjDelicious.ViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ForgetPassword";
    var id = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID);
    if (id == null)
    {
        Layout = "_Layout_NoSession";
    }
}
@section Style{ 
    <link href="/assets/css/setting.css" rel="stylesheet">
}
<section class="align-items-center"  style="height:65%">
    <p class="tip"></p>
    <div class="cont">
        <div class="container" id="userinfo">
            <div>
                <label>輸入註冊帳號/信箱</label>
                @{if (id != null)
                    {
                        <input type="text" class="form-control" value="@Model.AccountName" id="txtWho" disabled />
                        <span class="text-danger error"></span>
                    }
                    else
                    {
                        <input type="text" class="form-control" value="" id="txtWho" />
                        <span class="text-danger error"></span>
                    }
                }
            <div style="margin-top:20px">
                <button class="btn btn-primary" type="button" id="sendmail">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loading" hidden></span>
                    傳送登入連結
                </button>
            </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{ 
<script>
    var countdown = 60;
    let settime = function (obj) {
        if (countdown == 0) {
            obj.removeAttr("disabled");
            obj.text("獲取驗證碼");
            countdown = 60;
            return;
        } else {
            obj.text("重新傳送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function () {
            settime(obj)
        }
            , 1000)
    }

    $("#sendmail").click(function () {
        if ($("#txtWho").val() != "") {
            $(".error").text("");
            $.ajax({
                beforeSend: function () {
                    $("#loading").removeAttr("hidden");
                    $("#sendmail").attr("disabled", "disabled");                },
                url: '/UserPage/SendPassword',
                type: 'POST',
                data: { "who": $("#txtWho").val() },
                success: function (data) {
                    if (data == "登入連結已傳送至您的信箱") {
                        alert(data);
                        settime($("#sendmail"));
                    }
                    else {
                        alert(data);
                        $("#sendmail").removeAttr("disabled");
                    }
                },
                complete: function () {
                    $("#loading").attr("hidden", "hidden")
                },
                error: function (data) {
                    alert("信件寄送失敗,請聯絡管理員");
                }
            })
        }
        else {
            $(".error").text("請輸入註冊帳號/信箱");
        }
    });
</script>
}
