@model prjDelicious.ViewModel.CResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_Layout_NoSession";
}
<section class="align-items-center">
    <div class="container" id="userinfo" style="height:65%">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ResetPassword" method="post" name="formdata" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="MemberId" class="control-label"></label>
                        <input asp-for="MemberId" class="form-control" />
                        <span asp-validation-for="MemberId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password1" class="control-label"></label>
                        <input type="password" asp-for="Password1" class="form-control password1" />
                        <span asp-validation-for="Password1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password2" class="control-label"></label>
                        <input type="password" asp-for="Password2" class="form-control password2" />
                        <span asp-validation-for="Password2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="完成" class="btn btn-primary" id="send" />
                    </div>
                </form>
            </div>
            <div class="col-4">
                <input value="demo" type="button" class="btn btn-outline-info btn-sm demo shadow-none" style="width:70px;margin-top:30px" />
            </div>
            <div class="loadingdiv" id="loading" style="display: none">
                <img src="/assets/img/loading.gif" />
            </div>
        </div>
        </div>
    </section>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script>
                $(".demo").click(function () {
                    $(".password1").val("qwe321321")
                    $(".password2").val("qwe321321")
                })

                window.onload = function () {
                    $("#send").click(function (evt) {
                        let hasnull = false;
                        $("form .form-control").each(function () {  //遍历input标签，判断是否有内容未填写
                            if ($(this).val() == "") {
                                hasnull = true;
                            }
                        })

                        if ($(".text-danger>span").text() == "" && hasnull == false) {
                            const data = new FormData(document.formdata)
                            evt.preventDefault();
                            $.ajax({
                                beforeSend: function () {
                                    $('#loading').css("display", "");
                                },
                                url: '/UserPage/ResetPassword',
                                cache: false,
                                contentType: false,
                                processData: false,
                                type: "post",
                                data: data,
                                success: function (data) {
                                    if (data) {
                                        $("#send").attr('disabled', true);
                                        alert("修改成功");
                                        window.location.href = "https://deliciousnet.azurewebsites.net/homepage/login"

                                    }
                                    else {
                                        alert("修改失敗");
                                    }
                                },
                                complete: function () {
                                    $('#loading').css("display", "none");
                                },
                                error: function (data) {
                                    alert("修改失敗");
                                }
                            })
                        }
                    });
                }
            </script>
        }
