
@{
    ViewData["Title"] = "live2DDemo";
}

<h1>live2DDemo</h1>

<div  style="bottom:0px">
    <div id="waifu-toggle">
        <span>看板娘</span>
    </div>
    <div id="waifu-tips">
        <canvas id="live2d" width="800" height="800"></canvas>
    </div>
</div>


@section Scripts{
    <script src ="~/js/autoload.js">
        

    </script>
}
@section Styles{ 
    

}
